<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div>
    <form action="/todo" method="post">
        <input type="text" name="todo" value="<%= locals.todo %>" autofocus />
        <button type="submit">Submit</button>
        <ul>
            <% for(var i=0; i<locals.todos.length; i++) {%>
                <li><%= locals.todos[i] %></li>
            <% } %>
        </ul>
    </form>
</div>
</body>
</html>
